
:root {
--StrongCyan: hsl(172, 67%, 45%);
--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);

--veryDarkGrayishCyan: hsl(187, 12%, 15%);
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
}


h1 {
 background-color: var(--LightGrayishCyan);
}

.main-container {
 border: 2px solid orange;
 display: flex;
 flex-direction: column;
}

.bill-container {
 border: 2px solid green;
 display: flex;
 flex-direction: column
}

.dollar-input {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: var(--StrongCyan);
 padding: 1%;
 border-radius: 5px;
 
}
.dollar-input img {
 width: auto;
 height: 15px;
 }

.amount {
 background-color: transparent;
 border: none;
 font-weight: bold;
 width: auto;
 min-width: 10px;
 align-self: flex-end;
 text-align: right;
 font-size: 24px;

}

.tip-container {
 background-color: var(--White);
 border: 2px solid red;
 display: flex;
 flex-direction: column;
}
.tip-percentages {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 padding: 1%;
 border-radius: 5px;
}

button {
 background-color: var(--VeryDarkCyan);
 color: var(--White);
 border-radius: 5px;
 width: 90px;
 font-size: 20px;
}

.people-container {
 background-color: var(--White);
 border: 2px solid blue;
}

.summary-container {
 background-color: var(--VeryDarkCyan);
 border-radius: 20px;
}


button:hover {
 background-color: var(--StrongCyan);
 color: var(--veryDarkGrayishCyan);
}
input {
 background-color: var(--LightGrayishCyan);
 color: var(--veryDarkGrayishCyan);
 border-radius: 5px;
 font-size: 20px;
 font-weight: bold;
 width: 90px;
 text-align: center;
}

.reset-button {
 background-color: var(--StrongCyan);
 color: var(--veryDarkGrayishCyan);
 border-radius: 5px;
 
}