
:root {
--StrongCyan: hsl(172, 67%, 45%);
--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);

--veryDarkGrayishCyan: hsl(187, 12%, 15%);
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--LightGrayishCyan);
}

.header {
 text-align: center;
 width: 75px;
 word-wrap: break-word;
 padding: 0 auto;

}

.main-container {
 display: flex;
 flex-direction: column;
 border-radius: 20px;
 
}

.bill-container {
 background-color: var(--White);
 display: flex;
 flex-direction: column;
 padding: 5%;
}

.dollar-input {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: var(--StrongCyan);
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 3%;
 padding-right: 3%;
 border-radius: 5px;
 
}
.dollar-input img {
 width: auto;
 height: 15px;
 }

.amount {
 background-color: transparent;
 border: none;
 font-weight: bold;
 width: auto;
 min-width: 10px;
 align-self: flex-end;
 text-align: right;
 font-size: 24px;

}

.tip-container {
 background-color: var(--White);
 display: flex;
 flex-direction: column;
 padding: 5%;
}
.tip-percentages {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: space-between;
 row-gap: 10px;
}

button {
 background-color: var(--VeryDarkCyan);
 color: var(--White);
}

button:hover {
 background-color: var(--StrongCyan);
 color: var(--veryDarkGrayishCyan);
}

input {
 background-color: var(--LightGrayishCyan);
 color: var(--veryDarkGrayishCyan);
}
.input, .button {
 border-radius: 5px;
 width: 130px;
 height: 42px;
 font-size: 24px;
 font-weight: bold;
 text-align: center;
 padding: none;
 border-style: none;
}


.summary-container {
 background-color: var(--VeryDarkCyan);
 border-radius: 20px;
}

.reset-button {
 background-color: var(--StrongCyan);
 color: var(--veryDarkGrayishCyan);
 border-radius: 5px;
 
}